
.react-tel-input .form-control{
border:none;
width: 35vw;
padding-left: 60px;
}
.react-tel-input .flag-dropdown{
    border: none ;
    border-right: 1px solid rgb(199, 195, 195);
    background: transparent;
    /* padding: 5px; */
    
}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 30px !important;
}
.react-tel-input .selected-flag{
    width: 45px;
}
input[type="file"]{
    /* visibility: hidden; */
    cursor: pointer;
}


::-webkit-file-upload-button {
    /* border: none;
    border-right: 2px solid  rgb(199, 195, 195) ;
    background: none;
    cursor: pointer;
    padding-right: 5px; */
    /* visibility: hidden; */
    display: none;
}
