.Checkdesign{
    color:#E32279 !important ;
}
.adjust_forgotpassword{
    margin-top: 10px;
}

.Mui-checked{
    border-radius: 50% !important;

}
.MuiSvgIcon-root{

}
input[type="checkbox"]{
    border-radius: 50% !important;

}